@model Customer
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (Model.BirthDate != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
        }

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IsSubscribedToNewsletter)
        </dt>
        <dd class="col-sm-8">
            @(Model.IsSubscribedToNewsletter ? "Yes" : "No")
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MembershipTypeId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MembershipType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>