@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<p>
    <a asp-action="New">Create</a>
</p>

@if (!Model.Any())
{
    <p>No customers added yet.</p>
}
else
{
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.MembershipType.Name)
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipType.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-user-edit"></i>
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <i class="fas fa-info-circle"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-user-minus"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
